# Replace below with values specific to your app, see README
CLIENT_ID=myproxy:oa4mp,2012:/client_id/something
CLIENT_SECRET=mysecret
SECRET_KEY=another_secret
CLIENT_URL=example.com
CLIENT_URL_SECONDARY=example2.com
HOST_URL=example3.com
EMAIL=me@example.com